$main-font:'Montserrat', sans-serif;
$secondary-font:'Inter', sans-serif;
$color-light: #FFFFFF;
$color-dark: #000000;
$color-btn:#E86F54;
$modal-text:#5C5C5C;
$svg-light: #FFFFFF;
$svg-dark:#0E0E0E;
$correct: #3CBC81;
$invalid:#E74A3B;
$placeholder: #11111166;
$button-hover:#E25B41;
$button-focus:#FA6F54;